div {
    width: 558px;
    height: 789px;
    box-sizing: border-box;
    background-color: cornsilk;
}
header {
    width: 100%;
    height: 120px;
    background-color: rgb(68, 68, 68);
}
h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
p.head {
    color: rgb(238, 229, 230);
    text-align: center;
    font-size: small;
    margin-top: 8px;
}
section {
    position: relative;
    left: 280px;
    top: 40px;
    width: max-content;
}
div.line {
    position: relative;
    width: 100px;
    height: 2px;
    border: 1px solid rgb(238, 229, 230) ;
    left: 50px;
}
aside {
    width: 180px;
    height: 740px;
    background-color: rgb(238, 229, 230);
    position: absolute;
    top: 50px;
    left: 30px;
}
div.helper {
    width: 310px;
    height: 628px;
    position: relative;
    left: 215px;
}
h5 {
    padding-left: 20px;
    margin-bottom: 0px;
}
hr {
    border: 1px solid grey;
    width: 75%;
}
ul>li {
    max-width: 140px;
    font-size: 80%;
    margin-left: -10px;
}
#contact>li:nth-child(1) {
    list-style-image:  url(image/phone.png);
}
#contact>li:nth-child(2) {
    list-style-image:  url(image/mail.png);
}
#contact>li:nth-child(3) {
    list-style-image:  url(image/home.png);
}
#contact>li:nth-child(4) {
    list-style-image:  url(image/telegram.png);
}
div>h5 {
    text-align: center;
    background-color: rgb(238, 229, 230);
    height: 20px;
}
td {
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
td.one {
    text-align: center;
    font-size: 55%;
    width: 70px;
    font-weight: bold;
}
span {
    font-weight: bolder;
}
img {
    width: 105px;
    position: relative;
    top: 10px;
    left: 35px;
}
table {
    margin-top: 10px;
    margin-right: 10px;
}
button {
    background-color: rgb(107, 173, 189);
    font-size: 70%;
    border-radius: 5px;
    margin-left: 20px;
    width: 130px;
}